@font-face {
    font-family: "JetBrainsMono-Regular";
    src: url("./assets/fonts/JetBrainsMono-Regular.ttf");
}

@font-face {
    font-family: "JetBrainsMono-Bold";
    src: url("./assets/fonts/JetBrainsMono-Bold.ttf");
}

:root {
    --dark-bg-color: #272822;
    --dark-fg-color: #f8f8f2;
    --dark-primary-color: #66d9ef;
}

h1, h2, h3, h4, h5, h6, .text-bold {
    font-family: "JetBrainsMono-Bold", serif;
}


body {
    margin: 0;
    padding: 0;
    background-color: var(--dark-bg-color);
    color: var(--dark-fg-color);
    font-family: "JetBrainsMono-Regular", serif;
    padding: 0.5rem;
}

.dashboard-title {
    font-size: 2rem;
}

.dashboard-container {
    display: grid;
    height: 92vh;
    gap: 0.5rem;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:
        "timeline graph"
        "map graph";

    .dashboard-widget {
        padding: 0.5rem;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

        .title {
            font-size: 1.2rem;
            color: var(--dark-primary-color);
        }
    }

    .delay-timeline-widget {
        grid-area: timeline;
    }

    .delay-graph-widget {
        grid-area: graph;
    }

    .delay-map-widget {
        grid-area: map;
    }
}



.train-network-map {
    display: flex;
    justify-content: center;
    height: 50%;
    .train-track {
        fill: none;
        stroke: var(--dark-fg-color);
        stroke-width: 1;
    }

    .train-track-name {
        text-anchor: middle;
        font-size: 10px;
        fill: var(--dark-fg-color);
        display: none;
    }
}
