@import "tailwindcss";

:root {
    --header-height: 5rem;
}

main {
    height: calc(100vh - var(--header-height));
}

@theme {
    --color-nord-light-bg: #f2f4f8;
    --color-nord-light-white: #ffffff;
    --color-nord-light-fg: #4e5668;
    --color-nord-light-primary: #2e3440;
    --color-nord-light-gray: #edeff3;
}
