@import "tailwindcss";

:root {
    --header-height: 4rem;
}

main {
    height: calc(100vh - var(--header-height));
}

@theme {
    --color-gruvbox-dark-bg: #1d2021;
    --color-gruvbox-dark-bg-1: #3c3836;
    --color-gruvbox-dark-fg: #ebdbb2;
    --color-gruvbox-dark-primary: #d3869b;
    --color-gruvbox-dark-gray: #928374;
}
