@font-face {
    font-family: "Alegreya-Regular";
    src: url("./assets/fonts/Alegreya-Regular.ttf");
}

@font-face {
    font-family: "Alegreya-Bold";
    src: url("./assets/fonts/Alegreya-Bold.ttf");
}

:root {
    --dark-bg-color: #181818;
    --dark-fg-color: #e4e4ef;
    --dark-wisteria-color: #9e95c7;
}

h1, h2, h3, h4, h5, h6, .text-bold {
    font-family: "Alegreya-Bold", serif;
}

a {
    color: var(--dark-wisteria-color);
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--dark-bg-color);
    color: var(--dark-fg-color);
    font-family: "Alegreya-Regular", serif;
    padding: 0.5rem;
}

.navigation-elements {
    a {
        margin-left: 1rem;
        text-decoration: none;

        &.active {
            color: var(--dark-fg-color);
            text-decoration: underline;
        }
    }
}

.text-center {
    text-align: center;
}

.text-large {
    font-size: 3rem;
}

.text-medium{
    font-size: 1.5rem;
}

.train-network-map {
    display: flex;
    justify-content: center;
    .train-track {
        fill: none;
        stroke: var(--dark-fg-color);
        stroke-width: 1;
    }

    .train-track-name {
        text-anchor: middle;
        font-size: 10px;
        fill: var(--dark-fg-color);
        display: none;
    }
}
